[submodule "dbit-client-gateway"]
	path = dbit-client-gateway
	url = https://github.com/Nest-Microservices-Coto/client-gateway.git
[submodule "dbit-products-ms"]
	path = dbit-products-ms
	url = https://github.com/Nest-Microservices-Coto/products-ms.git
[submodule "dbit-orders-ms"]
	path = dbit-orders-ms
	url = https://github.com/Nest-Microservices-Coto/orders-ms.git
[submodule "dbit-payments-ms"]
	path = dbit-payments-ms
	url = https://github.com/Nest-Microservices-Coto/dbit-payments-ms.git
